# API Configuration
NEXT_PUBLIC_API_URL=https://junaidkh84-fullstack-todoapp-chatbot.hf.space

# Authentication Secret (shared with backend)
BETTER_AUTH_SECRET=ywcrxx0dDGovAcKd69vHcj9dw5zxrNNxVH-gq0Rwols

# Development settings
NEXT_PUBLIC_DEBUG=true